.form_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #333333; 
    text-align: left;
    padding-bottom: 50px;
    background-color: #41B3A3; 
    font-family: 'Comic Sans MS', cursive; 
}

.image {
    width: 100%;
}

.form {
    width: 60vw;
}

.form_heading {
    align-self: flex-start;
    width: 60vw;
    margin: 10px 0px;
    color: #af4d0d;
}

.input {
    width: 100%;
    margin: 10px 0px;
}

.select {
    width: 100%;
    background-color: lightgoldenrodyellow;
    padding: 10px 5px;
    border: 0;
    border-radius: 5px;
    color: #333333; 
    margin: 15px 0px;
}

.number_input {
    width: 100%;
    background-color: #f0f0f0; 
    border: 0;
    border-radius: 5px;
    color: #333333; 
    margin: 15px 0px;
}

.button {
    background-color: #008080;
    padding: 5px 15px;
    color: #f5f5f5; 
    border: 1px solid #f5f5f5; 
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
